body{
	font-family: Poppins, sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}

/* body {
	max-width: 1920px;
	width: 100%;
} */
/* .container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
} */
.container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	padding: 0px 15px;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	
	
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.ba-hero {
	background-image: url(../img/header.jpg);
	background-color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ba-hero__title {
	font-size: 3.75rem;
}.ba-hero__text {
	font-size: 1.875rem;
	margin-bottom: 1.8em;
}
.ba-btn {
	text-decoration: none;
	color: #fff;
}
.ba-hero__btn {
	border: 2px solid rgb(221, 221, 221);
	border-radius: 10px;
	height: 54px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.25em;
	font-weight: 600;
}
.ba-hero__btn:hover,
.ba-hero__btn:focus {
	background: #fff;
	color: #000;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ba-header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 30px;
}
.logo_link {
	text-decoration: none;
	color: #fff;
	font-size: 2.0625rem;
}
.menu {
	display: flex;
	list-style: none;

}
.menu__item {
	overflow: hidden;
}
.menu__item + .menu__item {
	margin-left: 30px;
}
.menu__link {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	position: relative;
}
.menu__link:after {
	content: '';
	position: absolute;
	width: 100%;
	display: inline-block;
	height: 1px;
	background-color: #e71cb4;
	left: 0;
	transform: translateX(-100%);
	bottom: 0;
	transition: left .2s, height .5s, transform .75s;
	transition-timing-function: cubic-bezier(0.42, 0, 0, 1.12)
}
.menu__link:hover,
.menu__link:focus {
	color: #e71cb4;
	
}
.menu__link:hover:after,
.menu__link:focus:after {
	left: 0;
	height: 3px;
	transform: translateX(0);
}
.logo {
	margin: 0;
}
.arrow {
	position: relative;
	font-size: 1rem;
	padding-left: 74px;
}
.arrow-number {
	color: yellow;
	font-size: 1.5em;
}
.arrow:before,
.arrow:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	height: 15px;
	background-color: tomato;
	display: inline-block;
}
.ba-about__battles h3 {
	font-size: 2.25rem;
	font-weight: 800;
	line-height: 1;
	color: #444444;
	padding-top: 135px;
}
.ba-about {
	color: #444444;
	margin-bottom: 150px;
}
.ba-about__title {
	color: #e71cb4;
	font-size: 3.875rem;
	padding-top: 145px;
	font-weight: 800;
	line-height: 1;
}
.ba-about__text {
	color: #444444;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 1px;
	padding-top: 95px;
}
.ba-about__list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 85px;
}
.ba-about__list-item {
	display: flex;
	font-size: 2.75rem;
	width: 50%;
	padding-left: 98px;
	padding-bottom: 70px;	
	
}
.ba-about__list-item p:before,
.ba-about__list-item p:after {
	content: '';
	position: absolute;
	left: -55px;
	top: 0;
	width: 3px;
	height: 15px;
	display: inline-block;
}
.ba-about__list-item p {
	position: relative;
}
.ba-about__list-item p:before {
	transform: rotate(45deg);
	top: 21px;
}
.ba-about__list-item p:after {
	transform: rotate(-45deg);
	top: 12px;
}
.ba-about__list-item span {
	font-size: 1.5rem;
	padding-left: 30px;
}
ul {
	margin: 0;
	padding: 0;
}
.ba-about__list-item p {
	margin: 0;
	font-weight: 900;
	line-height: 1;
}
p.first,
p.sixth {
	color: #ffde16;
	
}
p.first:before,
p.first:after,
p.sixth:before,
p.sixth:after {
	background-color: #ffde16;
}
p.second {
	color: #ffbd9e;
}
p.second:before,
p.second:after {
	background-color: #ffbd9e;
}
p.third {
	color: #20c9e0;
}
p.third:before,
p.third:after {
	background-color: #20c9e0;
}
p.fourth {
	color: #2eac66;
}
p.fourth:before,
p.fourth:after {
	background-color: #2eac66;
}
p.fifth {
	color: 
}
p.fifth {
	color: #ff6179
}
p.fifth:before,
p.fifth:after {
	background: #ff6179;
}
.bolder-span {
	font-weight: 600;
}
.ba-about__text-second {
	font-size: 1.375rem;
	letter-spacing: 1px;
	line-height: 1.8;
	margin-bottom: 70px;
}
.ba-about__submissions {
	font-size: 1.875rem;
	font-weight: 800;
	margin-bottom: 40px;
}
.ba-about__text-little {
	margin-bottom: 75px;
}
.ba-about__btn {
	background-color: #c60ebe;
	padding: 25px 76px;
	border-radius: 10px;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 150px;
}
